.card {
    border-style: solid;
    border-color: var(--color-blue);
    border-width: 0.15rem;
    border-radius: var(--card-radius);
    box-shadow: 7px 7px 4px var(--card-shadow-color);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.bordered {
    border-style: solid;
    border-color: var(--color--blue);
    border-width: 0.1em;
}

.rounded {
    border-radius: var(--card-radius);
}

.drop-shadow {
    box-shadow: 7px 7px 4px var(--card-shadow-color);
}

body {
    background-image: url("/uploads/ripples.png");
}