body {
    // colors
    --color-salmon: #d16e6b;
    --color-blue: #9abcbe;
    --bg-color: #fff;

    // card
    --card-bg-color: rgb(255, 255, 255);
    --card-text-color: #000;
    --card-border-color:  rgba(0,0,0,.1);
    --card-shadow-color: #999999;
    --card-radius: 0.5rem;

    // layout
    --service-spacing: 0.5em;
    --radius: 5px;
}
