body {
    // colors
    --color-blue: #6DACAF;
    --color-salmon: #AF726E;
    --bg-color: #fff;
    --header-text-color: black;
    --body-text-color: black;

    // card
    --card-bg-color: rgb(255, 255, 255);
    --card-text-color: #000;
    --card-border-color:  rgba(0,0,0,.1);
    --card-shadow-color: #999999;
    --card-radius: 0.5rem;

    //breakpoints (DON'T actually use, for reference only)
    --bp-smallest: 600px; //and under
    --bp-medium: 600px; //and over

    // layout
    --service-spacing: 0.5em;
    --radius: 5px;
    --global-content-width: 80vw;
    @media (max-width: 600px ) {
        --global-content-width: 90vw;
    }
}
