body {
    // colors
    --color-blue: #6DACAF;
    --color-salmon: #AF726E;
    --bg-color: #fff;
    --header-text-color: black;
    --body-text-color: black;

    // card
    --card-bg-color: rgb(255, 255, 255);
    --card-text-color: #000;
    --card-border-color:  rgba(0,0,0,.1);
    --card-shadow-color: #999999;
    --card-radius: 0.5rem;

    // layout
    --service-spacing: 0.5em;
    --radius: 5px;

    //breakpoints

}
